<div class="row g-3" *ngIf="selector">
  <div class="col-12 col-md-6">
    <label class="form-label" for="province-select">{{ labelProvince }}</label>
    <select
      class="form-select"
      [ngModel]="selector.selectedProvinceName"
      (ngModelChange)="selector.selectProvince($event)"
    >
      <option [ngValue]="null" disabled>{{ placeholderProvince }}</option>
      <ng-container *ngIf="selector.provinces?.length">
        <option *ngFor="let province of selector.provinces" [value]="province">
          {{ province }}
        </option>
      </ng-container>
    </select>
  </div>
  <div class="col-12 col-md-6">
    <label class="form-label" for="form-select">{{ labelAirport }}</label>
    <select
      class="form-select"
      [disabled]="!selector.selectedProvince"
      [ngModel]="selector.selectedAirportName"
      (ngModelChange)="selector.selectAirport($event)"
    >
      <option [ngValue]="null" disabled>{{ placeholderAirport }}</option>
      <ng-container *ngIf="selector.airports?.length">
        <option
          *ngFor="let airport of selector.airports"
          [value]="airport.iata"
        >
          {{ airport.name }} ({{ airport.iata }})
        </option>
      </ng-container>
    </select>
  </div>
</div>
