<div class="card card-bg-eerie-black mt-4 mb-4">
  <div class="card-header mt-4">
    <div class="d-flex align-items-center font-color fs-1">
      Traveling From
      <div class="flower">
        <img class="flower-1" [src]="flowerImage" alt="flowerImage" />
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row g-3">
      <!-- TH -->
      <app-airport-selector
        [selector]="airportSelectorTH"
        labelProvince="Province of origin"
        labelAirport="Destination airport"
        placeholderProvince="Select Province"
        placeholderAirport="Select Destination airport"
      ></app-airport-selector>

      <!-- USA -->
      <app-airport-selector
        [selector]="airportSelectorUSA"
        labelProvince="Destination state"
        labelAirport="Destination airport"
        placeholderProvince="Select Destination state"
        placeholderAirport="Select Destination airport"
      ></app-airport-selector>
    </div>
  </div>
</div>

<div class="mt-2 mb-4">
  <app-carousel-image></app-carousel-image>
</div>
<!-- map -->
<!-- @if (airportSelectorTH.selectedAirport && airportSelectorUSA.selectedAirport) {
<div class="mt-2 mb-4">
  <app-book-trip-map
    [airportSelectorTH]="airportSelectorTH.selectedAirport"
    [airportSelectorUSA]="airportSelectorUSA.selectedAirport"
  ></app-book-trip-map>
</div>
} -->
